@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins/mixins.scss' as mixins;

.products {
  @include mixins.product-grid;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: variables.$big-gap;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: variables.$gap;
  

  .previous, .next {
    cursor: pointer;
    font-size: variables.$logo-size;
    color: variables.$card-bg;
    transition: variables.$animation-settings;

    &:hover {
      color: variables.$primary;
    }
  }

  .disabled {
    opacity: 0;
  }

  &__item {
    background-color: variables.$card-bg;
    border-radius: 100%;
    width: variables.$mid-icon-size;
    height: variables.$mid-icon-size;
 
    box-sizing: border-box;
    border: variables.$border-thickness solid transparent;
    transition: variables.$animation-settings;

    &:hover {
      border: variables.$border-thickness solid variables.$primary;
      cursor: pointer;
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .active {
    background-color: variables.$primary;
    color: variables.$button-text-color;
  }
}
