@use '../../styles/variables.scss' as variables;

.error-page {
    justify-content: center;
    align-items: center;
    min-height: 100%;

    &__title {
        font-size: variables.$font-size;
        color: variables.$text-color-secondary;
        font-weight: 400;
        text-align: center;
    }

    &__image {
        width: 100%;
        max-width: variables.$image-max-width;
        margin-bottom: variables.$gap;
    }
}