@use '../../styles/variables.scss' as variables;

.cart-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: variables.$small-icon-size;
    height: variables.$small-icon-size;
    border-radius: 100%;
    background-color: variables.$primary;
    right: - variables.$small-icon-size;
    top: -12px;
    color: variables.$button-text-color;
    font-weight: variables.$font-weight-title;
    font-size: variables.$font-size-script;
}